
:root {
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    background-color: var(--light-grayish-blue);
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 730px;
    border-radius: 10px;
    display: flex;
    background-color: white;
    box-shadow: 5px 15px 20px rgba(0, 0, 0, .1);
}

.card-thumbnail {
    width: 262px;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.content-container {
    padding: 35px;
}

.heading {
    color: var(--dark-grayish-blue);
}

.snippet {
    margin: 20px 0;
    line-height: 18px;
    color: var(--dark-blue);
}

.footer {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.author {
    display: flex;
    gap: 1rem;
}

.author-info {
    margin: auto 0;
}

.author-name {
    margin: 5px 0;
    color: var(--dark-blue);
}

.date-posted {
    margin: 5px 0;
    font-size: 11px;
    color: var(--grayish-blue);
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.share {
    position: relative;
    margin: auto 0;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--light-grayish-blue);
    cursor: pointer;
}

.share::after {
    content: url('images/icon-share.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.share-active {
    background-color: var(--dark-blue);
}

.share-active::after {
    content: url('images/share-solid-white.svg');
}

.share-popup {
    padding: 10px 20px;
    border-radius: 8px;
    display: none;
    align-items: center;
    gap: 1rem;
    background-color: var(--dark-grayish-blue);
    color: var(--dark-blue);
    position: absolute;
    left: 270px;
    bottom: 70px;
}

.share-popup::after {
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 18px solid var(--dark-grayish-blue);
    position: absolute;
    left: 50%;
    bottom: -16px;
    transform: translateX(-50%);
}

.share-popup p {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}

.display {
    display: flex;
}

.share-popup img {
    height: 25px;
    width: 25px;
}

@media (max-width: 600px) {

    .container {
        width: 328px;
        flex-direction: column;
    }

    .card-thumbnail {
        width: 100%;
        height: 221px;
        border-radius: 10px 10px 0 0;
    }

    .content-container {
        padding: 35px 25px 20px;
    }

    .share-popup {
        margin: 0 -25px -20px;
        padding: 0 25px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0 0 10px 10px;
    }

    .share-popup::after { display: none;}

    .share-active {
        margin-top: 20px;
    }
}

.attribution {
    width: 100%;
    text-align: center;
    font-size: 11px;
    position: absolute;
    bottom: 0;
}

.attribution a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}